@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 800;
  src: local("inter"), local("inter"), url(../fonts/Inter_24pt-ExtraBold.ttf)format("truetype");
}
@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  src: local("poppins"), local("poppins"), url(../fonts/Poppins-Regular.ttf)format("truetype");
}
@font-face {
  font-family: "poppins_bold";
  font-style: normal;
  font-weight: 500;
  src: local("poppins_bold"), local("poppins_bold"), url(../fonts/Poppins-SemiBold.ttf)format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#body {
  width: 100%;
  height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  object-fit: cover;
  z-index: -1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#wallpaper {
  width: 100%;
  height: 100%;
}

.inner-display {  
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.inner-display-blur {
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(0.5em);	
}
.inner-display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-prompt-container {
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(0.3em);
  width: 34%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 4em;
  gap: 1em;
}
.show-prompt-container { 
  display: flex; 
} 
.hide-prompt-container { 
  display: none; 
} 
.signin-prompt-title {
  text-align: center;
  font-family: "inter",sans-serif;	
}
.signin-prompt-text {
  text-align: center;
  font-family: "poppins",sans-serif;
  font-size: 0.9em;
  color: #333;	
}
.signin-prompt-uselect {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 1em; 
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.7em;
}
.signin-prompt-input {
  width: 100%;
  padding: 0.7em 1em;
  outline: none;
  border: 1px solid dodgerblue;
  border-radius: 0.6em;
  background-color: #e9e9e9;
  color: #333;
  font-family: "poppins", sans-serif;
}
#signin-prompt-btn {
  padding: 0.5em 2em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  background-color: dodgerblue; 
  color: white; 
  cursor: pointer;
  font-family: "poppins_bold", sans-serif;
  animation-name: btn-slide;
}
#signin-prompt-btn:hover {
  background-color: blue; 
  transition: 0.8s;
}

#footer { 
  position: fixed; 
  bottom: 1%;
  left: 50%; 
  height: 8.5%; 
  transform: translateX(-50%); 
  max-width: 5%;
  overflow-y: auto;
}
.show-footer-container {
  animation-name: footer-slide-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes footer-slide-up {
  0% { bottom: -15%; } 
  50% { bottom: 1%; } 
  100% { max-width:60%; } 
} 
#footer-container { 
  height: 100%; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  gap: 1em;
  background-color: rgba(255,255,255,0.4); 
  backdrop-filter: blur(0.5em); 
  border-radius: 1em; 
  overflow-y: auto;
  padding: 0.1em 0.6em;
}
#footer::-webkit-scrollbar,#footer-container::-webkit-scrollbar {
  width: 0%;
  height: 0%;	
} 
.footer-icon { 
  width: 2.5em; 
  height: 80%; 
  border-radius: 0.7em; 
  background-color: white; 
  cursor: pointer; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
} 

#menu-bar { 
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.5em;
} 
#menu-bar-application-stats {
  padding: 0.1em 0.8em;
  background-color: rgba(240,240,255,0.9); 
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 1em;
  flex-direction: row;
}
#menu-bar-application-stats-txt {
  font-family: "poppins_bold", sans-serif;
  font-size:0.83em;
  margin-top: 0.3em;
  cursor: pointer;
  color: white;
}
.menu-bar-application-stats-iconcnt {
  width: 16px;
  height: 16px;	
  cursor: pointer;
}
.menu-bar-application-battery {
  border-radius: 0.3em;
  background-color: #ccc;
  width: 2em;
  padding: 0.1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.80em;
  font-family: "inter", sans-serif;	
}



/*  *//* #outer-display { */
  /* position: fixed; */
  /* top: 3.5%; */
  /* left: 0; */
  /* right: 0; */
  /* height: 87.5%; */
/* } */
/* #x { */ 
	/* position:absolute;width:90%;background-color: blue; height: 95%; top: 50%; left: 50%; transform: translate(-50%, -50%); */ 
/* } */ 
